<h3 class="page-title"> Menu Items</h3>
<ol class="page-list">
  {{#each menu as |menu|}}
  <li>
    <article class="page">
      <div class="title">
        <span>Menu Item:{{description}}</span>
      </div>
      <div class="meta">
        Description: {{ingredients}} 
        price: ${{price}} available
        at
        Store Number: {{location}}

<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>
</div>
    </article>
  </li>
  {{/each}}
</ol>