<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>
<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>
<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>
<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>