
<h1> you are now in the menu page</h1>
<h3> Menu Items</h3>
<ol class="menu-list">
  {{#each menu as |menu|}}
  <li>
    <article class="menu">
      <div class="title">
        <span>Menu Item:({{description}})</span>
      </div>
      <div class="meta">
        Description: {{ingredients}} 
        price: ${{price}} available
        at
        Store Number: {{location}}

<a href="/dashboard/edit/">Click to update or delete menu!</a> <br>
</div>
    </article>
  </li>
  {{/each}}
</ol>