<a href="/dashboard/confirm-closing">Which location would you like to close?</a> <br>
<a href="/dashboard/confirm-closing">Which location would you like to close?</a> <br>
<a href="/dashboard/confirm-closing">Which location would you like to close?</a> <br>
<a href="/dashboard/confirm-closing">Which location would you like to close?</a> <br>
