<h1>Are you sure you would like to permanently close this location? This action can't be undone.</h1>
      <button type="button" class="btn btn-danger close-location btn-lg">Close Location</button>

<script src="/javascript/deletelocation.js"></script>