<section>
            <div class = "start">
                <h2>IT STARTED WITH A CITY</h2>
            </div>
                
            <div class="welcome-form">
                
                <br>
                <h4>The year is 2012. The gainfully bearded citizens of Milton take to the streets, proudly showcasing their admiration for this great city through their wardrobe of tastefully designed crew neck t-shirts. They long for a place they can gather with friends and enjoy the excellence that is a well-crafted, locally sourced burger that doesn’t strive to reinvent the wheel. Through careful deliberation, HAMBRGR was born with a commitment to its city and a promise for all – to make the best damn burger you’ve ever eaten.</h4>
            </div>
        </section>   

        <main>
            <div >
                <h2>All SUPER-HIP Restaurants :</h2>
            </div>
            <nav >
                <ul location-title>                    
                    
                    <li>
                        <a href="/location">Toronto</a>
                    </li>
                    <li>
                        <a href="/location">Mississauga</a>
                    </li>
                    <li>
                        <a href="/location">Milton</a>
                    </li>
                    <li>
                        <a href="/location">London</a>
                    </li>
                </ul>
            </nav>
        </main>
